
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.size{
  max-width: 1440px;
  width: 87%;
  margin: 0 auto;
  padding-top: 20px;
}
/* shared style */
.nav-bar{
  display: flex;
  justify-content: space-between ;
  align-items: center;
}
.nav-list{
  display: flex;
  list-style: none;
}
.nav-links{
  text-decoration: none;
  margin-right: 20px;
  font-size: 18px;
  color: #424242;
}
.head-text{
  font-size: 40px;
  font-weight: bold;
  color: #131313;
}

#header-section{
background-color: rgba(255, 144, 14, 0.1);
}
.header-p,.brand-text,.btn{
  text-align: center;
}
.btn{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.brand-text{
  margin-top: 50px;
  font-size: 50px;
  margin-bottom: 15px;
}
.header-p{
  font-size: 18px;
  color: #727272;
  margin-bottom: 15px;
}
.banner-img{
  height: 600px;
  margin-top: 25px;
}
header img{
  width: 100%;
}
.btn{
  background-color: #FF900E;
  color: white;
  width: 180px;
  height: 60px;
  padding: 20px;
  border-radius: 8px;
  border: none;
}
.team{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 70px;
  margin-top: 60px;
}
.img-container{
  display: grid;
  grid-template-columns: repeat(2 , 1fr);
  grid-template-rows: repeat(2,1fr);
  gap: 10px;
}
.img-container img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.btn-primary{
  background-color: #FF900E;
  color: white;
  width: 180px;
  height: 60px;
  font-weight: 800;
  padding: 20px;
  border-radius: 8px;
  border: none;
}
.feature-title{
  font-size: 2.5rem;
  margin-bottom: 30px;
}
.quick-list{
  color: #727272;
  font-weight: 600;
}
.feature{
  color: #FF900E;
  font-weight: 800;
}
.feature-discription{
  color: #727272;
  font-size: 1rem;
  margin-bottom: 20px;
}
.enjoy-header{
  font-size: 2.5rem;
  border-left: 5px solid #FF900E;
  padding-left: 10px;
  font-weight: 900;
  margin-bottom: 15px;
}
.destop{
  max-width: 586px;
  max-height: 171px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 15px;

}
.destop h4{
font-size: 1.2rem;
margin-bottom: 10px;
}
.destop p{
  color: #727272;
  font-size: 1.1rem;
}
.enjoy{
  display: flex;
  justify-content: space-between;
  margin: 60px;
  gap: 30px;
}
.formal-women img{
  width: 100%;
  height: 100%;
}
.enjoy-description{
  color: #727272;
  line-height: 26px;
  font-size: 1.1rem;
  margin-bottom: 15px;
  max-width: 586px;
  height: 120px;
  margin-bottom: 30px;
}
.card{
  width: 150px;
  height: 150px;
  border: 1px solid #FF900E;
  text-align: center;
  padding: 20px;
  border-radius: 8px;
}
.card-head{
 display: grid;
 grid-template-columns: repeat(4,2fr);
 margin-top: 100px;
 margin-bottom: 150px;
 margin-left: 50px;
}
.fact-heading{
  font-size: 2rem;
  margin-bottom: 20px;
}
.fact-para{
  width: 500px;
  color: #727272;
}