
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.size{
  max-width: 1440px;
  width: 87%;
  margin: 0 auto;
  padding-top: 20px;
}
/* shared style */
.nav-bar{
  display: flex;
  justify-content: space-between ;
  align-items: center;
}
.nav-list{
  display: flex;
  list-style: none;
}
.nav-links{
  text-decoration: none;
  margin-right: 20px;
  font-size: 18px;
  color: #424242;
}
.head-text{
  font-size: 40px;
  font-weight: bold;
  color: #131313;
}

#header-section{
background-color: rgba(255, 144, 14, 0.1);
}
.header-p,.brand-text,.btn{
  text-align: center;
}
.btn{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.brand-text{
  margin-top: 50px;
  font-size: 50px;
  margin-bottom: 15px;
}
.header-p{
  font-size: 18px;
  color: #727272;
  margin-bottom: 15px;
}
.banner-img{
  height: 600px;
  margin-top: 25px;
}
header img{
  width: 100%;
}
.btn{
  background-color: #FF900E;
  color: white;
  width: 180px;
  height: 60px;
  padding: 20px;
  border-radius: 8px;
  border: none;
}
